<div class="container-fluid">
    <div class="profile-container">
      <div class="row">
        <div class="col-md-7">
          <div class="profile-card">
            <h2 class="hipadding">HI</h2>
            <h2>I'm <span class="namebg">Mohamed Amine Bdiri</span></h2>
            <h1>a Software Engineer & Full Stack JS Developer</h1>
            <p class="text-cl">
              Full Stack JS Developer (MEAN & MERN) with strong experience in building web and mobile applications.
              Enthusiastic about developing technical solutions, I am motivated by complex challenges and continuous
              improvement. Currently seeking new opportunities to leverage my technical skills and team collaboration
              capabilities.
            </p>
            <div class="profcontact">
                <a href="{{ cvUrl }}" target="_blank" class="btn btn-primary">
                     Resume English Version    
                  </a>
                  <a href="{{ cvUrlfr }}" target="_blank" class="btn btn-primary pdprofileresume">
                    Resume French Version
                 </a>
                  <p>Email: <a href="mailto:example@example.com">{{ email }}</a></p>
                  <p>Phone: <a href="tel:+21621899159">+21621899159</a></p>
            </div>

          </div>
        </div>

        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <div class="profile-image">
            <img src="/assets/image.png" alt="Profile Photo">
          </div>
        </div>
      </div>

      <div class="row social-row">
        <div class="col-12">
          <h4 class="social-heading">Contact</h4>
          <div class="social-links">
            <a href="#" class="social-link" target="_blank" aria-label="Slack">
              <img src="/assets/Slack-logo.png" alt="Slack">
            </a>

            <a href="https://www.linkedin.com/in/mohamed-amine-bdiri-460018138/" class="social-link" target="_blank" aria-label="Meta">
              <img src="/assets/LinkedIn_Logo_2013.svg.png" alt="Meta">
            </a>
            <a href="https://www.instagram.com/bdirouvic/" class="social-link" target="_blank" aria-label="Instagram">
              <img src="/assets/logo-instagram.webp" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/bdiri.amine/" class="social-link" target="_blank" aria-label="Facebook">
              <img src="/assets/fonctionnalites-facebook.png" alt="Facebook">
            </a>
            <a href="https://mail.google.com/mail/?view=cm&to=bdiri.mohamedamine@gmail.com" class="social-link" target="_blank" aria-label="Instagram">
                <img src="/assets/Gmail-original-1024x682.jpg" alt="Facebook">
            </a>
            <a href="https://github.com/bdiriamine" class="social-link" target="_blank" aria-label="Slack">
                <img src="/assets/images github.png" alt="Slack">
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>