/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  
  h1, h2 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }